<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">

      <a class="navbar-brand fw-bold brand-color" href="/index.html">
        E-Commerce System Guide
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navMain">
        <ul class="navbar-nav ms-auto align-items-center">

          <li class="nav-item"><a class="nav-link" href="/index.html">Übersicht</a></li>
          <li class="nav-item"><a class="nav-link" href="/pages/shopware.html">Shopware</a></li>
          <li class="nav-item"><a class="nav-link" href="/pages/magento.html">Magento</a></li>
          <li class="nav-item"><a class="nav-link" href="/pages/prestashop.html">PrestaShop</a></li>
          <li class="nav-item"><a class="nav-link" href="/pages/woocommerce.html">WooCommerce</a></li>
          <li class="nav-item"><a class="nav-link" href="/pages/opencart.html">OpenCart</a></li>
          <li class="nav-item"><a class="nav-link" href="/pages/sylius.html">Sylius</a></li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/newsfeed.html">
              <img src="/assets/images/news.png" alt="News" style="width: 30px; margin-top: -5px;">
            </a>
          </li>
          <li class="nav-item">
            <button id="themeToggle" class="btn nav-link p-0" type="button" style="border: none; background: none;">

              <svg width="27" height="27" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"
                style="display:block;">

                <defs>
                  <linearGradient id="moonGradient" x1="0%" y1="0%" x2="100%" y2="100%">
                    <stop offset="0%" stop-color="#ffb347" />
                    <stop offset="100%" stop-color="#ff6a00" />
                  </linearGradient>
                </defs>

                <path d="M60 10
           A40 40 0 1 0 60 90
           A12 40 0 1 1 60 10" fill="url(#moonGradient)" />
              </svg>

            </button>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>