<header class="site-header">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
          <a class="navbar-brand fw-bold brand-color" href="/index.html">E-Commerce System Guide</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain" aria-controls="navMain" aria-expanded="false" aria-label="Navigation umschalten">
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="navbar-nav ms-auto"> 
            <li class="nav-item"><a class="nav-link" href="../index.html">Übersicht</a></li>
            <li class="nav-item"><a class="nav-link" href="../pages/allsites.html">Alle Shopsysteme</a></li>            
              <li class="nav-item"><a class="nav-link" href="/pages/newsfeed.html"><img src="/assets/images/news.png"
                  alt="News" class="img-fluid" style="max-width: 30px; margin-top: -5px;"></a></li>

              <li class="nav-item"><button id="themeToggle" class="btn btn-link nav-link p-0" type="button" aria-label="Night mode umschalten"><img src="/assets/images/moon.png"
                  alt="Night mode" class="img-fluid" style="max-width: 30px; margin-top: -5px;"></button></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>